!!! 5
%html
%head
  %title Recipe App
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Brocol .ly", root_path

      %ul.nav.navbar-nav.navbar-right
        %li= link_to "New Recipe", new_recipe_path
        %li= link_to "Maps", "https://www.google.com/maps/@38.9014847,-77.0391641,15z"

    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"
      = yield
